.App {
  text-align: center;
  padding: 100px 0 100px 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper .barcode-preview {
  min-width: 180px;
  min-height: 180px;
  max-height: 300px;
  max-width: 300px;
  margin: 30px 0 0 30px;
}

.wrapper .barcode-preview.hide-img {
  display: none;
}

.wrapper .barcode-preview.show-img {
  display: block;
}

.wrapper>div:nth-child(3) {
  flex-direction: column;
  margin: 20px 0 0 0;
}

.wrapper>div:nth-child(3) input[type="text"] {
  width: 300px !important;
  height: 80px;
}